<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap
        PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="QueryMap">

	<select id="getEvents" resultClass="java.util.LinkedHashMap"
		parameterClass="java.util.Map">
		select
				CAST(io_uuid AS varchar(100)) as xid ,
				io_name as name,
				io_start as "Start",
				io_end as "End",
				io_location as "Location"
		from
				io_event
		order by
				io_name
		OFFSET
				#startFrom#
		LIMIT
				#upto#
	</select>
	<select id="getEventByIDMain" resultClass="java.util.LinkedHashMap"
		parameterClass="java.util.Map">
		select
				event.io_name as "Name",
				usr.io_full_name as "Owner",
				<!-- CAST(event.io_status[1] AS varchar(100)) as "Status", -->
				event.io_updated_on as "Updated On"
				
		from
				
				io_event as event
					LEFT OUTER JOIN io_user as usr
						ON (usr.io_uuid = event.io_owner)
				
		where
				event.io_uuid = #id#::uuid 
	</select>
	<select id="getEventByIDStandard" resultClass="java.util.LinkedHashMap"
		parameterClass="java.util.Map">
		select
				CAST(event.io_uuid AS varchar(100)) as "Record ID",
				event.io_path as "Path",
				folder.io_name as "Folder",
				app.io_name as "Application",
				pack.io_name as "Package",
				rel.io_name as "Release",
				event.io_tags as "Tags",
				event.io_description as "Description",
				event.io_documentation as "Documentation",
				event.io_notes as "Notes",
				usr.io_full_name as "Created By",
				usr1.io_full_name as "Updated By",
				event.io_created_on as "Created On",
				event.io_active as "Active",
				event.io_deleted as "Deleted",
				event.io_private as "Private"
				<!-- ,CAST(event.io_custodian AS varchar(100)) as "Custodian", -->
		from
				io_event as event
					LEFT OUTER JOIN io_user as usr
						ON (usr.io_uuid = event.io_created_by)
					LEFT OUTER JOIN io_user as usr1
						ON (usr1.io_uuid = event.io_updated_by)
					LEFT OUTER JOIN io_folder as folder
						ON (folder.io_uuid = event.io_folder)
					LEFT OUTER JOIN io_application as app
						ON (app.io_uuid = event.io_application)
					LEFT OUTER JOIN io_package as pack
						ON (pack.io_uuid = event.io_package)
					LEFT OUTER JOIN io_release as rel
						ON (rel.io_uuid = event.io_release)
		where
				event.io_uuid = #id#::uuid 
	</select>
	<select id="getEventByIDSpecific" resultClass="java.util.LinkedHashMap"
		parameterClass="java.util.Map">
		select 
				<!-- CAST(event.io_related_to[1] AS varchar(100)) as "Related To",   -->
				event.io_start as "Start",
				event.io_end as "End",
				event.io_all_day_event as "All Day Event",
				event.io_recurring as "Recurring",
				<!-- CAST(event.io_recurring_event AS varchar(100)) as "Recurring Event", 
				CAST(event.io_recurrence_period[1] AS varchar(100)) as "Recurrence Period", 
				CAST(event.io_recurrence_type[1] AS varchar(100)) as "Recurrence Type",  -->
				event.io_recurrence_date as "Recurrence Date", 
				<!-- CAST(event.io_recurrence_day[1] AS varchar(100)) as "Recurrence Day",  
				CAST(event.io_recurrence_weekdays[1] AS varchar(100)) as "Recurrence Weekdays",  --> 
				event.io_recurrence_frequency as "Recurrence Frequency", 
				event.io_recurrence_start as "Recurrence Start", 
				event.io_recurrence_end as "Recurrence End", 
				event.io_recurrence_occurences as "Recurrence Occurences", 
				event.io_recurrence_summary as "Recurrence Summary",  
				event.io_location as "Location"
				<!-- ,CAST(event.io_reminder[1] AS varchar(100)) as "Reminder",  
				CAST(event.io_show_time_as[1] AS varchar(100)) as "Show Time As",  
				CAST(event.io_priority[1] AS varchar(100)) as "Priority" -->
				
		from
				io_event as event
				
		where
				event.io_uuid = #id#::uuid				
	</select>	
</sqlMap>

