.io-tracking-dashlet-name > a{
    position: absolute;
    color: #1F77B4;
    left : 40%;
    top: 5px;
}
.io-dashlet-tracking-target {
	color: #AAAAAA;
    font-size: 0.8em;
    font-weight: lighter;
    margin-top: -0.5em;
    right: 0;
    text-align: right;
    top: 80%;
}
.io-dashlet-tracking-value {
	left: auto;
    margin-top: -1.0em;
    right: 0;
    text-align: right;
    top: 50%;
    color: #CCCCCC;
    font-size: 3em;
    font-weight: bold;
}
.io-dashlet-tracking-prefix {
    font-size: 0.3em;
    font-weight: lighter;
    vertical-align: 166%;
}
.io-dashlet-tracking-suffix {
    font-size: 0.3em;
    font-weight: lighter;
}
.io-dashlet-tracking-change-good {
	position: absolute;
    color: #2CA02C;
    font-size: 1.25em;
    font-weight: 200;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: center;
    vertical-align: left; 
}
.io-dashlet-tracking-health-green {
    background-image: URL("../images/latest.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    height: 32px;
    margin-bottom: 5px;
    margin-left : 30px;
    margin-top : 30px; 
}
.io-dashlet-tracking-health-yellow {
    background-image: url("../images/exclaimation.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    height: 32px;
    margin-bottom: 5px;
    margin-left : 30px;
    margin-top : 20px;
}
.io-dashlet-tracking-health-red {
    background-image: url("../images/redhand.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    height: 32px;
    margin-bottom: 5px;
    margin-left : 30px;
    margin-top : 20px; 
}